USE [qlvattu]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SODH] [varchar](50) NOT NULL,
	[MAVTU] [varchar](50) NOT NULL,
	[SLDAT] [bigint] NULL,
 CONSTRAINT [PK_CTDONDH] PRIMARY KEY CLUSTERED 
(
	[SODH] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SOPN] [bigint] NULL,
	[MAVTU] [varchar](50) NULL,
	[SLNHAP] [bigint] NULL,
	[DGIANHAP] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SOPX] [int] NOT NULL,
	[MAVTU] [varchar](50) NOT NULL,
	[SLXUAT] [int] NULL,
	[DGXUAT] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CTPXUAT] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[SODH] [varchar](50) NOT NULL,
	[NGAYDH] [datetime] NULL,
	[MANHACC] [varchar](50) NULL,
 CONSTRAINT [PK_DONDH] PRIMARY KEY CLUSTERED 
(
	[SODH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANHACC] [varchar](50) NULL,
	[TENHACC] [nvarchar](250) NULL,
	[DIACHI] [nvarchar](250) NULL,
	[DIENTHOAI] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PNHAP]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNHAP](
	[SOPN] [bigint] NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[SODH] [varchar](50) NULL,
 CONSTRAINT [PK_PNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PXUAT]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PXUAT](
	[SOPX] [int] NOT NULL,
	[NGAYXUAT] [datetime] NULL,
	[TENKH] [nvarchar](50) NULL,
 CONSTRAINT [PK_PXUAT] PRIMARY KEY CLUSTERED 
(
	[SOPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NAMTHANG] [datetime] NOT NULL,
	[MAVTU] [varchar](50) NOT NULL,
	[SLDAU] [bigint] NULL,
	[TONGSLN] [bigint] NULL,
	[TONGSLX] [bigint] NULL,
	[SLCUOI] [bigint] NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[NAMTHANG] ASC,
	[MAVTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 12/7/2023 9:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVTU] [varchar](50) NULL,
	[TENVTU] [nvarchar](250) NULL,
	[DVTINH] [int] NULL,
	[PHANTRAM] [nchar](10) NULL
) ON [PRIMARY]
GO
